NLP_PORT=8010
EMBED_MODEL=intfloat/multilingual-e5-small
LOCAL_FILES_ONLY=false
EMBED_DEFAULT_INPUT_TYPE=passage
EMBED_QUERY_PREFIX="query: "
EMBED_PASSAGE_PREFIX="passage: "
GUNICORN_WORKERS=1
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=300
